<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href="/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
        <link rel="stylesheet" href="https://raw.githubusercontent.com/isagalaev/highlight.js/master/src/styles/androidstudio.css">
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>  
      <img src="https://security.gallagher.com/-/media/Project/Security-Business/Security-Public-Site/Images/logo.png?h=57&w=211&hash=0EA242C252043E031A593CA3DB13D59B"></img>
      <style type="text/css">
        #content {
          padding: 1em;
        }
      </style>
    </header>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
